DB_URL= # Connection URL to MongoDB
MONGODB_USER= #user
MONGODB_PASSWORD= # password
MONGODB_URL= # url
MONGODB_DB= # db

SMTP_PASSWORD= #BREVO SMTP PASSWORD
SMTP_HOST= #SMTP HOST
SMTP_PORT= #SMTP PORT
SMTP_USER= #SMTP USER

JWT_SECRET= #JWT SECRET

CLOUDINARY_CLOUD_NAME= #CLOUD NAME
CLODINARY_API_KEY= #CLOUD KEY
CLODINARY_API_SECRET= #CLOUD SECRET
UPLOAD_TO_CLOUDINARY= #FEATURE FLAG

GOOGLE_AUTH_CLIENT_ID= #CLIENT ID
GOOGLE_AUTH_CLIENT_SECRET= #CLIENT SECRET