DB_URL= # Connection URL to MongoDB
MONGODB_USER= #user
MONGODB_PASSWORD= # password
MONGODB_URL= # url
MONGODB_DB= # db

SMTP_PASSWORD= #BREVO SMTP PASSWORD
SMTP_HOST= #SMTP HOST
SMTP_PORT= #SMTP PORT
SMTP_USER= #SMTP USER

JWT_SECRET= #JWT SECRET